include ../checkBtn/checkBtn.pug

mixin checkboxList(attr={})
  -
    let opt = {
      title: attr.title ||  'Expandable checkbox list',
      items: attr.items || [],
      expand: attr.expand,
    }

  .checkboxList()&attributes(attributes)
    h3.checkboxList__title(
      class=opt.expand ? 'checkboxList--expand' : ''
    )=opt.title
    ul.checkboxList__list
      each val in opt.items
        li.checkboxList__item
          +checkBtn({label: val[0], checked: val[1]})
