@import '@blocks/checkBtn/checkBtn.scss';

.checkboxList {
  width: 266px;

  &__title {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 15px;
    margin: 0;
    margin-bottom: 18px;
    text-transform: uppercase;
    @include h3-font;
    background-repeat: no-repeat;
    background-position: right 15px center;
    transition: background-color 0.3s ease;
    border-radius: 22px;

    &[data-expand="on"] {
      background-image: url('@blocks/checkboxList/expand_down.svg');
    }

    &[data-expand="off"] {
      background-image: url('@blocks/checkboxList/expand_up.svg');

      & + .checkboxList__list {
        display: none;
      }
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 3px;

  }

  &__item {
    margin-top: 10px;
    height: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
}
