include ../checkBtn/checkBtn.pug

mixin checkboxList(attr={})
  -
    let opt = {
      title: attr.title ||  'Expandable checkbox list',
      items: attr.items || [],
      isMinimize: attr.isMinimize || false,
      expande: attr.expande || false
    }
  .checkboxList&attributes(attributes)
    h3.checkboxList__title(
      class=opt.expande ? 'checkboxList__title--expand' : ''
    )=opt.title
    ul.checkboxList__list(
      class=opt.isMinimize ? 'checkboxList__list--minimize' : ''
      )
      each val in opt.items
        li.checkboxList__item
          +checkBtn({label: val[0], checked: val[1]})
