//- Стандартный шаблон страницы
include ./mixins.pug

doctype html
html(class="no-js", lang="ru")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
    block script
    block variables
    block meta

  body
    noscript У вас отключен JavaScript. Это пугает.
    block variables

    block header

    block content

    block footer
