mixin bulletList(attr={})
  -
    let opt = {
      title: attr.title || 'BULLET LIST',
      items: attr.items || []
    }
  .bulletList&attributes(attributes)
    if opt.title == 'BULLET LIST'
      h3.bulletList__title.bulletList__title--default= opt.title
    else
      h3.bulletList__title= opt.title
    ul.bulletList__list
      each val in opt.items
        li.bulletList__item=val
