.slider {
  $width: 270px;
  $height: 151px;

  position: relative;
  width: $width;
  height: $height;
  // margin: 50px auto 0;
  user-select: none;
  touch-action: pan-y;

  & img {
    pointer-events: none;
    object-fit: cover;
  }

  &__list {
    width: $width;
    height: $height;
    overflow: hidden;

    &:hover .slider__btn {
      display: block;
    }
  }

  &__track {
    display: flex;
  }

  &__slide {
    box-sizing: border-box;
    width: $width;
    height: $height;
    flex-shrink: 0;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    overflow: hidden;

  }

  &__link {
    display: block;
    width: $width;
    height: $height;
    text-decoration: none;
  }

  &__btn {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 42px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    outline: none;
    border: none;
    display: none;

    &--disabled {
      opacity: 0.25;
    }

    &--prev {
      left: 0;
      background-image: url('@blocks/slider/arrow.svg'),
      linear-gradient(90deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 99.99%,
        rgba(255, 255, 255, 0) 100%);
    }

    &--next {
      right: 0;
      background-image: url('@blocks/slider/arrow.svg'), linear-gradient(90deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 99.99%,
        rgba(255, 255, 255, 0) 100%);
      transform: scale(-1);
    }
  }

  &__indicator {
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 15px;
    justify-content: space-between;
  }
}

.indicator {
  width: 41.25px;

  &__item {
    width: 7.5px;
    height: 7.5px;
    border: 1px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;

    &--current {
      background-color: #fff;
    }
  }
}
