@import '@assets/scss/global.scss';

.header {
  position: relative;
  width: 1440px;
  height: auto;
  margin: auto;
}

.nav {
  position: absolute;
  top: 80px;
  left: -10px;
  z-index: 1;

  &__list {
    display: flex;
    list-style: none;
    align-items: flex-end;
    transform-origin: bottom left;
    transform: rotate(90deg);
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  &__item {
    position: relative;
    top: 0;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-right: 5px;
    width: 85px;
    height: 50px;
    color: rgba($main-color, 0.25);
    background-color: rgba($main-color, 0.05);
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: top ease 0.2s;

    &:hover {
      background-color: rgba($main-color, 0.25);
      color: rgba($main-color, 1);
    }

    &:active {
      top: 10px;
    }

    &--active {
      height: 60px;
      color: rgba($main-color, 0.5);
    }
  }

  &__link {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
  }
}

.logo {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 0;
  z-index: 10;

  &__img {
    width: 48px;
    height: 48px;
  }
}
