.text-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 13px 15px;
    border-radius: 4px;
    border: 1px solid rgba($main-color, 0.25);
    font-size: 0.875rem;
    color: rgba($main-color, 0.25);
    outline: none;
    line-height: 24px;
    margin-top: 5px;

    &::placeholder {
      color: inherit;
      text-overflow: ellipsis;
    }

    &:hover,
    &:focus,
    &--hover {
      border-color: rgba($main-color, 0.5);
      color: rgba($main-color, 0.75);
    }

    &--expand {
      cursor: pointer;
      padding-right: 44px;
      background: url('@blocks/text-field/expand_more.svg') no-repeat;
      background-position: right 15px center;
    }

    &--arrow {
      background: url('@blocks/text-field/arrow_forward.svg') no-repeat;
      padding-right: 44px;
      background-position: right 13px center;
    }

    &--placeholder-dark::placeholder {
      color: rgba($main-color, 0.75);
    }

    &--drop-down {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  &__label {
    display: block;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    color: $main-color;
  }

  &__note {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba($main-color, 0.5);
    align-self: flex-start;
  }
}
