//- name - аттрибут name
//- checked - аттрибут checked
//- value - аттрибут value
//- label - текст label

mixin check(name, value, label)
  .check
    input.check__input#check(type="checkbox", name=name, value=value)
    label.check__label(for="check")= label
