@import '@blocks/mainNav/mainNav.scss';
@import '@blocks/footer/footer.scss';

.headers-footers {
  width: 100%;
  margin-top: 142px;

  &__login {
    margin-top: 40px;
  }

  &__footer {
    margin-top: 40px;
  }
}
