include ../mainNav/mainNav.pug

mixin headers-footers
  +mainNav({nav: {
    'О нас': '#',
    'Услуги': { 'услуга 1': '#',
                'услуга 2': '#',
                'услуга 3': '#'
              },
    'Вакансии': '#',
    'Новости': '#',
    'Соглашения': { 'Соглашение 1': '#',
                    'Соглашение 2': '#',
                    'соглашение 3': '#'
                  }
    }})
