include ../mainNav/mainNav.pug
include ../footer/footer.pug

mixin headers-footers
  .headers-footers
    +mainNav()
    +mainNav({login: true})(class="headers-footers__login")
    +footer(class="headers-footers__footer")
