@import '@assets/scss/global.scss';

.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
  height: 44px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 22px;
  outline: none;
  border: 0;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: inherit;

  &--clear {
    width: 99px;
    background-image:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: $purple;

    &:before {
      content: attr(data-content) "";
      // content: 'click me';
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background-color: #fff;
      border-radius: 22px;
    }
  }

  &--purple {
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #fff;
  }

  &--arrow {
      background-image: url('@blocks/btn/arrow_forward.svg'),linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      background-repeat: no-repeat;
      background-position: right 12px center, 0 0;
    }

  &:active,
  &--active {
    opacity: 0.5;
  }
}
