mixin footer-sm
  .footer-sm
    img.footer-sm__logo(src=require('@blocks/footerSm/logo.svg') width="105.69" height="40")
    p.footer-sm__text Copyright © 2018 Toxin отель. Все права зачищены.
    ul.footer-sm__socials.socials
      li.socials__item.socials__item--twitter
        img(src=require('@blocks/footerSm/twitter.svg') width="24" height="24")
      li.socials__item.socials__item--fb
        img(src=require('@blocks/footerSm/fb.svg') width="24" height="24")
      li.socials__item.socials__item--instagramm
        img(src=require('@blocks/footerSm/insta.svg') wdith="24" height="24")
