@import '@assets/scss/fonts.scss';
@import 'normalize.css';

.cards {
  width: 1440px;
  margin: auto;
  padding: 150px 140px 140px 140px;
  box-sizing: border-box;

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 1060px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-top: 39px;
    &--first {
      margin-top: 0;
    }
  }
}
