include ../calendar/calendar.pug
include ../searchRoom/searchRoom.pug
include ../reg/reg.pug
include ../login/login.pug
include ../roomDetail/roomDetail.pug
include ../room/room.pug

mixin cards
  //- +calendar('calendar-1', 'maket')
  +roomDetail
  +searchRoom
  //- +login
  //- +reg
  //- +room

  +room({
    sliderId: 'slider-1',
    sliderLink: '#',
    sliderImg: ['image-1.jpg', 'image-1.jpg', 'image-1.jpg', 'image-1.jpg'],
    title: '888',
    lux: true,
    cost: '9 990',
    rateId: 'cardRate-1',
    rateStar: 5,
    review: 145
  })
  +room({
    sliderId: 'slider-2',
    sliderLink: '#',
    sliderImg: ['image-2.jpg', 'image-2.jpg', 'image-2.jpg', 'image-2.jpg'],
    title: '840',
    lux: false,
    cost: '9 900',
    rateId: 'cardRate-2',
    rateStar: 4,
    review: 65
  })
