mixin colors-type()
  ul.color
    li.color__item
      .color__block.color__block--dark
      .color__text
        span Dark Shade 100%
        span.color__code #1F2041
    li.color__item
      .color__block.color__block--dark75
      .color__text
        span Dark Shade 75%
        span.color__code #1F2041
    li.color__item
      .color__block.color__block--dark50
      .color__text
        span Dark Shade 50%
        span.color__code #1F2041
    li.color__item
      .color__block.color__block--dark25
      .color__text
        span Dark Shade 25%
        span.color__code #1F2041
    li.color__item
      .color__block.color__block--dark5
      .color__text
        span Dark Shade 5%
        span.color__code #1F2041
    li.color__item
      .color__block.color__block--purple
      .color__text
        span Purple
        span.color__code #BC9CFF
    li.color__item
      .color__block.color__block--green
      .color__text
        span Green
        span.color__code #6FCF97
  ul.font-style
    li.font-style__item.font-style__item--h1
      span.font-style__title H1
      span.font-style__text.font-style__text--style This one is the sub-section or widget title
    li.font-style__item.font-style__item--h2
      span.font-style__title H2
      span.font-style__text.font-style__text--style Next one is the item title inside widgets
    li.font-style__item.font-style__item--h3
      span.font-style__title H3
      span.font-style__text.font-style__text--style.font-style__text--uppercase This is a label or CTA text
    li.font-style__item.font-style__item--body
      span.font-style__title Body
      span.font-style__text.font-style__text--style This is the body text which is used for most of the design, like paragraphs, lists, etc.
