@import '@blocks/textField/textField.scss';

$max-fields: 140px;
$md-fields: 70px;
$sm-fields: 20px;

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 97px;
  min-width: 320px;
  max-width: 1920px;
  margin: auto;
  box-sizing: border-box;


  &__wrapper {
    padding-left: $max-fields;
    padding-right: $max-fields;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(auto, 22.3148%) minmax(auto, 55.1724%) minmax(auto, 22.3148%);
    grid-template-rows: 272px;
    justify-content: center;
    background-color: #fff;
  }

  &__text {
    line-height: 24px;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba($main-color, 0.75);
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 40px;
    padding-top: 5px;
    list-style: none;
  }

  &__item {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $main-color;
    line-height: 14.63px;
    width: 33.3333%;
    margin-right: 10px;
  }

  &__sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba($main-color, 0.75);
    text-transform: none;
  }

  &__sub-item {
    line-height: 17px;
    margin-top: 21px;

    &:first-child {
      margin-top: 22px;
    }
  }

  &__subscription {
    margin-top: 5px;
  }

  &__social {
    padding-left: $max-fields;
    padding-right: $max-fields;
    height: 70px;
    background-color: #fff;
  }
}

.subscription {
  &__title {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $main-color;
    margin: 0;
  }

  &__text {
    line-height: 24px;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba($main-color, 0.75);
    margin: 0;
    margin-top: 20px;
  }

  &__input {
    margin-top: 17px;
  }
}

.social {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba($main-color, 0.25);
  width: 100%;
  padding-top: 1px;

  &__copyright {
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba($main-color, 0.75);
    line-height: 17.07px;
  }

  &__list {
    display: flex;
    list-style: none;
    // margin-right: 1px;
    padding-top: 4px;
  }

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@include md-block {
  .footer {
    padding-top: 50px;
    &__wrapper {
      padding-left: $md-fields;
      padding-right: $md-fields;
    }
    &__social {
      padding-left: $md-fields;
      padding-right: $md-fields;
    }
  }
}

@include sm-block {
  .footer {
    padding-top: 120px;
    padding-bottom: 120px;

    &__text {
      display: none;
    }
    &__list {
      display: none;
    }
    &__subscription {
      display: none;
    }

    &__wrapper {
      display: block;
      padding-left: $sm-fields;
      padding-right: $sm-fields;
    }

    &__social {
      flex-wrap: wrap;
      border: none;
      height: auto;
      padding-left: $sm-fields;
      padding-right: $sm-fields;
    }
  }

  .social {
    justify-content: space-around;

    &__copyright {
      width: 100%;
      text-align: center;
      line-height: 17.07px;
      margin-top: 17px;
    }
    &__list {
      margin: 0;
      margin-top: 23px;
      padding: 0;

    }
  }
}

@include xs-block {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
