@import '@assets/scss/global.scss';

.link {
  display: inline-block;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba($main-color, 0.5);

  &:hover,
  &--hover {
    color: $purple;
  }
}
