extends ../pug/layout.pug

block meta
  title Document

block header
  header
block content
  main
    .container
      ul.color
        li.color__item
          .color__block
          span.color__text Dark Shade 100%
          span.color__code #1F2041
        li.color__item
          .color__block
          span.color__text Dark Shade 75%
          span.color__code #1F2041
        li.color__item
          .color__block
          span.color__text Dark Shade 50%
          span.color__code #1F2041
        li.color__item
          .color__block
          span.color__text Dark Shade 25%
          span.color__code #1F2041
        li.color__item
          .color__block
          span.color__text Dark Shade 5%
          span.color__code #1F2041
        li.color__item
          .color__block
          span.color__text Purple
          span.color__code #BC9CFF
        li.color__item
          .color__block
          span.color__text Green
          span.color__code #6FCF97
      ul.text
        li.text__item H1
          span This one is the sub-section or widget title
        li.text__item H2
          span Next one is the item title inside widgets
        li.text__item H3
          span This is a label or CTA text
        li.text__item Body
          span This is the body text which is used for most of the design, like paragraphs, lists, etc.

block footer
  footer
