extends ../assets/pug/layout.pug
include ../blocks/headerUI/headerUI.pug
include ../blocks/headersFooters/headersFooters.pug

block meta
  title Document

block header
  +headerUI('headersFooters')
block content
  +headers-footers()
block footer
