extends ../assets/pug/layout.pug

block meta
  title Document

block header
  header
block content
  main
    .contain(style="width: 1220px; margin: auto")
      p Данная страница пока не готова. Идет разработка
      a(href="./ui-kit.html") компонентов
block footer
  footer
