extends ../assets/pug/layout.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/index/index.pug

block meta
  title Document

block header
  +header()
block content
  +index()
block footer
  +footer()
