extends ../assets/pug/layout.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/registration/registration.pug

block meta
  title Подробно о номере

block header
  +header()
block content
  +registration()
block footer
  +footer()
