extends ../assets/pug/layout.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/roomDetails/roomDetails.pug

block meta
  title Главная страница

block header
  +header()
block content
  +roomDetails()
block footer
  +footer()
