extends ../assets/pug/layout.pug
include ../blocks/footer/footer.pug
include ../blocks/header/header.pug
include ../blocks/search/search.pug

block meta
  title Подбор номера

block header
  +header()
block content
  +search()
block footer
  +footer()
