@import '@assets/scss/global.scss';
@import '@assets/scss/mixins.scss';

.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1920px;
  min-width: 320px;
  width: 100%;
  padding-left: 140px;
  padding-right: 140px;
  box-sizing: border-box;
  margin: auto;
  background-color: #fff;
  box-sizing: border-box;
  height: 70px;
  padding-top: 3px;

  &__logo {
    margin-right: auto;
  }

  &__btn {
    display: none;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 2px solid rgba($main-color, 0.5);
    border-radius: 4px;
    outline: none;

    & span {
      position: absolute;
      border-top: 1px solid rgba($main-color, 0.75);
      transition: all 0.3s ease;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: calc(100% - 10px);
      border-top: 1px solid rgba($main-color, 0.75);
      left: 5px;
      right: 5px;
      transform: rotate(0deg);
      transition: all 0.3s ease;
    }

    &--close {
      & span {
        opacity: 1;
        top: 13px;
        left: 5px;
        right: 5px;
        transition: all 0.3s ease;
      }

      &::before {
        top: 8px;
      }
      &::after {
        bottom: 7px;
      }
    }

    &--open {
      & span {
        opacity: 0;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 448px;
    // height: 70px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    margin-left: 20px;
    // margin-top: -10px;
  }

  &__item {
    margin-right: 21px;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba($main-color, 0.5);
    line-height: 17.07px;
    white-space: nowrap;
    flex-grow: 1;

    &:last-child {
      margin-right: 0;
    }

    &--arrow {
      display: inline-block;
      width: 24px;
      height: 12px;
      background: url('@blocks/mainNav/expand_more.svg') no-repeat center bottom;
    }

    &--sub-menu {
      cursor: pointer;
    }
  }

  &__sub-list {
    list-style: none;
    padding: 0;
  }

  &__sub-item {
    display: none;
  }

  &__link {
    text-decoration: none;
    color: rgba($main-color, 0.5);
    width: 100%;

    &--active {
      font-weight: 700;
      color: rgba($main-color, 0.75);
    }
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // height: 70px;
  }

  &__login-btn {
    box-sizing: border-box;
    max-width: 87px;
    height: 34px;
    margin-right: 20px;
    margin-top: -3px;
    // flex-shrink: 0;
  }

  &__reg-btn {
    box-sizing: border-box;
    width: 196px;
    height: 34px;
    margin-top: -3px;
  }

  &__name {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 0.875rem;
    color: rgba($main-color, 0.5);
    padding-left: 20px;
    border-left: 1px solid rgba($main-color, 0.1);
  }
}

@include md-block {
  .main-nav {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@include sm-block {
  .main-nav {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    &__logo {
      order: 1;
    }

    &__name {
      order: 2;
      margin-right: 20px;
    }

    &__btn {
      order: 3;
      display: block;
      margin-right: 20px;
    }

    &__btn--close + .main-nav__list,
    &__btn--close + .main-nav__list .main-nav__item,
    &__btn--close ~ .main-nav__btns {
      height: 0;
      overflow: hidden;
    }

    &__btn--close + .main-nav__list {
      margin-bottom: 0;
    }

    &__list {
      order: 4;
      width: 100%;
      height: auto;
      flex-direction: column;
      margin: 0;
      margin-bottom: 20px;
    }

    &__item {
      box-sizing: border-box;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      border-bottom: 1px solid rgba($main-color, 0.5);
      text-align: left;
    }

    &__btns {
      order: 5;
    }
  }
}

@include width-500 {
  .main-nav {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;

    &__btn {
      order: 2;
      margin-left: 120px;
    }
    &__name {
      order: 3;
      margin: 0;
      margin-left: auto;
      padding: 0;
    }

    &__btns {
      width: 100%;
      height: auto;
      justify-content: space-between;
    }

    &__login-btn {
      margin-top: 10px;
    }

    &__reg-btn {
      margin-top: 10px;
    }
  }
}

@include xs-block {
  .main-nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}
