@import '@blocks/btn/btn.scss';

.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1920px;
  min-width: 320px;
  width: 100%;
  height: 70px;
  padding-left: 140px;
  padding-right: 140px;
  box-sizing: border-box;
  margin: auto;
  background-color: #fff;

  &__logo {
    margin-right: auto;
  }

  &__list {
    width: 448px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: -10px;
  }

  &__item {
    margin-right: 21px;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba($main-color, 0.5);
    line-height: 17.07px;
    white-space: nowrap;
    flex-grow: 1;

    &:last-child {
      margin-right: 0;
    }

    &--arrow {
      display: inline-block;
      width: 24px;
      height: 21px;
      background: url('@blocks/mainNav/expand_more.svg') no-repeat center bottom;
    }

    &--sub-menu {
      cursor: pointer;
    }
  }

  &__sub-list {
    list-style: none;
    padding: 0;
  }

  &__sub-item {
    display: none;
  }

  &__link {
    text-decoration: none;
    color: rgba($main-color, 0.5);
    width: 100%;

    &--active {
      font-weight: 700;
      color: rgba($main-color, 0.75);
    }
  }

  &__login-btn {
    box-sizing: border-box;
    max-width: 87px;
    height: 34px;
    margin-right: 20px;
    margin-top: -3px;
  }

  &__reg-btn {
    box-sizing: border-box;
    max-width: 196px;
    height: 34px;
    margin-top: -3px;
  }

  &__name {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 0.875rem;
    color: rgba($main-color, 0.5);
    padding-left: 20px;
    border-left: 1px solid rgba($main-color, 0.1);
  }
}
