include ../textField/textField.pug
include ../rate/rate.pug
include ../checkBtn/checkBtn.pug
include ../radioBtn/radioBtn.pug
include ../toggleBtn/toggleBtn.pug
include ../dblSlider/dblSlider.pug
include ../btn/btn.pug
include ../dropDown/dropDown.pug
include ../checkboxList/checkboxList.pug
include ../checkboxRich/checkboxRich.pug
include ../bulletList/bulletList.pug
include ../likeBtn/likeBtn.pug
include ../pagination/pagination.pug
include ../features/features.pug
include ../comment/comment.pug
include ../link/link.pug

mixin form-elements
  .form-elements
    .form-elements__block-1
      +text-field({preset: 'text'})
      +text-field({preset: 'text-hover'})(style="margin-top: 21px;")
      +text-field({preset: 'text-drop'})(style="margin-top: 21px;")
      +text-field({preset: 'date'})(style="margin-top: 24px")
      .form-elements__inner
        +text-field({preset: 'date-drop'})(class="form-elements__inner--half")
        +text-field({placeholder: '19.08.2019', label: 'date dropdown', expand: true, placeholderDark: true})(class="form-elements__inner--half")
      +text-field({preset: 'date-filter'})(style="margin-top: 42px; width: 266px;")
      +text-field({preset: 'text-arrow'})(style="margin-top: 42px; width: 266px;")

    .form-elements__block-2.block-2
      +checkboxList({
        title: 'Checkbox Buttons',
        items: [
          {label: 'Можно курить', checked: false},
          {label: 'Можно с питомцами', checked: true},
          {label: 'Можно пригласить гостей (до 10 человек)', checked: true}
        ],
      })(style="width: 222px;")
      .block-2__radio
        h3.block-2__title Radio Buttons
        +radioBtn({preset: 'male'})(class="block-2__btn")
        +radioBtn({preset: 'female'})(class="blocks-2__btn")
      .block-2__toggle
        h3.block-2__title toggle
        +toggleBtn({name: 'name', value: 'on', label: 'Получать спецпредложения', checked: true})
        +toggleBtn({name: 'name', value: 'off', label: 'Получать спецпредложения'})
      .block-2__like
        h3.block-2__title like button
        +likeBtn({disable: true, count: 2})
        +likeBtn({count: 12})
      .block-2__rate
        h3.block-2__title rate button
        +rate('rate-1', 4)
        +rate('rate-2', 5)

    .form-elements__block-3.block-3
      +dblSlider({preset: 'default'})(style="width: 266px;")
      .block-3__btns
        h3.block-3__title buttons
        +btn({preset: 'purple'})(style="width: 99px")
        +btn({preset: 'purple', active: true})(style="width: 99px; margin-left: 19px;")
        +btn({preset: 'clear'})(style="width: 99px; margin-top: 30px;")
        +btn({preset: 'clear', active: true})(style="width: 99px; margin-left: 19px;")
        +link({text: 'click me', hover: true})(style="margin-top: 33px;")
        +link({text: 'click me'})(style="margin-left: 21px;")
      +btn({preset: 'arrow'})(style="margin-top: 27px;")
      .block-3__pagination
        h3.block-3__title pagination
        +pagination()
    .form-elements__block-4.block-4
      +drop-down('drop-down-1')
      +drop-down('drop-down-2')
    .form-elements__block-5.block-5
      +drop-down('drop-down-3')
    .form-elements__block-6.block-6
      +drop-down('drop-down-4')

    .form-elements__block-7.block-7
      +checkboxList({
        items: [
          { label: 'Завтрак', checked: false },
          { label: 'Письменный стол', checked: true },
          { label: 'Стул для кормления', checked: true },
          { label: 'Кроватка', checked: true},
          { label: 'Телевизор', checked: false},
          { label: 'Шампунь', checked: false}
        ],
        expand: 'off'
      })

      +checkboxList({
        items: [
          { label: 'Завтрак', checked: false },
          { label: 'Письменный стол', checked: true },
          { label: 'Стул для кормления', checked: true },
          { label: 'Кроватка', checked: true},
          { label: 'Телевизор', checked: false},
          { label: 'Шампунь', checked: false}
        ],
        expand: 'on'
      })(style="margin-top: 50px;")


    .form-elements__block-8.block-8
      +checkboxRich({
        title: 'rich checkbox buttons',
        items: [
          {
            label: 'Широкий коридор',
            checked: false,
            text: 'Ширина коридоров в номере не менее 91 см.',
            name: 'newnew',
            text_style: 'width: 230px;'
          },
          {
            label: 'Помощник для инвалидов',
            checked: true,
            text: 'На 1 этаже вас встретит специалист  и проводит до номера.',
            text_style: 'width: 255px;'
          }
        ]
      })(style="width: 266px")

    .form-elements__block-9.block-9
      +bulletList({
        title: 'bullet list',
        items: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']
      })(style="width: 260px")
    .form-elements__block-10.block-10
      +features([
        { title: 'Комфорт', text: 'Шумопоглощающие стены', img: 'insert_emoticon' },
        { title: 'Удобство', text: 'Окно в каждой из спален', img: 'location_city' }
      ])

    .form-elements__block-11.block-11
      +comment({
        photo: require('@blocks/comment/image.jpg'),
        name: 'Мурад Сарафанов',
        days: 5,
        likeBtn: {
          disable: false,
          count: 12
        },
        text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
      })(style="width: 711px")
