@import '@assets/scss/global.scss';

.form-elements {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 640px 356px 360px 1fr;
  grid-template-columns: 320px 400px 321px;
  width: 1440px;
  justify-content: space-between;
  justify-items: center;
  margin: auto;
  padding: 140px 140px 130px 140px;

  &__block-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;

    &--half {
      width: 150px;
    }
  }
}

.block-2 {
  box-sizing: border-box;
  padding-left: 67px;
  margin-top: -1px;

  &__radio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 58px;
    padding-right: 112px;
    height: 65px;
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 27px;
    height: 82px;
  }

  &__like {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 47px;
    height: 66px;
    padding-right: 244px;
  }

  &__rate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    padding-right: 73px;

    & .block-2__title {
      margin-bottom: 18px;
    }

    & #rate-1 {
      margin-left: 2px;
    }
  }

  &__title {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $main-color;
    width: 100%;
    margin: 0;
  }
}

.block-3 {

  &__btns {
    margin-top: 20px;
    padding-right: 100px;
    height: 195px;

  }

  &__title {
    width: 100%;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $main-color;
    margin: 0;
    margin-bottom: 15px;
  }

  &__pagination {
    margin-top: 43px;
  }

}

.block-4 {
  margin-top: 93px;
  justify-self: left;

  & .drop-down {
    width: 266px;
  }

  & #drop-down-2 {
    margin-top: 20px;
  }
}

.block-5 {
  margin-top: 93px;
  padding-left: 53px;

  & .drop-down {
    width: 320px;
  }
}

.block-6 {
  margin-top: 93px;

  & .drop-down {
    width: 320px;
  }
}

.block-7 {
  justify-self: left;
  margin-top: 56px;
}

.block-8 {
  margin-top: 45px;
}

.block-9 {
  margin-top: 57px;
  justify-self: left;
}

.block-10 {
  justify-self: left;
  margin-top: 44px;
}

.block-11 {
  grid-column: span 2;
  padding-left: 64px;
  margin-top: 74px;
}
