@import '@assets/scss/global.scss';
@import '@assets/scss/fonts.scss';
@import 'normalize.css';

.form-elements {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 640px 356px 360px 1fr;
  grid-template-columns: 320px 268px 320px;
  width: 1440px;
  justify-content: space-between;
  justify-items: center;
  margin: auto;
  padding: 144px 140px 130px 141px;

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;

    &--half {
      width: 150px;
    }
  }
}

.block-1 {
  &__text-hover {
    margin-top: 21px;
  }

  &__text-drop {
    margin-top: 21px;
  }

  &__date {
    margin-top: 24px;
  }

  &__date-filter {
    margin-top: 42px;
    width: 266px;
  }

  &__text-arrow {
    margin-top: 42px;
    width: 266px;
  }
}

.block-2 {
  box-sizing: border-box;
  margin-top: -1px;
  width: 100%;

  &__radio {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 43px;
    padding-right: 48px;
    height: 65px;
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 27px;
    height: 82px;
  }

  &__like {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 47px;
    height: 66px;
    padding-right: 178px;
  }

  &__rate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    padding-right: 8px;

    & .block-2__title {
      margin-bottom: 18px;
    }

    & #rate-1 {
      margin-left: 2px;
    }
  }

  &__title {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $main-color;
    width: 100%;
    margin: 0;
  }
}

.block-3 {
  width: 100%;

  &__btns {
    display: grid;
    align-items: center;
    column-gap: 19px;
    grid-template-rows: 13px 1fr 1fr 29px;
    grid-template-columns: 99px 99px;
    margin-top: 29px;
    padding-right: 100px;
    height: 192px;
  }

  &__btns-link {
    box-sizing: border-box;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: self-end;
    display: flex;
    justify-content: space-between;
    padding-right: 75px;
  }

  &__title {
    align-self: self-start;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $main-color;
    margin: 0;
  }

  &__btn-arrow {
    margin-top: 31px;
  }

  &__pagination {
    margin-top: 43px;

    & .block-3__title {
      margin-bottom: 16px;
    }
  }

}

.block-4 {
  margin-top: 93px;
  justify-self: left;

  & .drop-down {
    width: 266px;
  }

  & #drop-down-2 {
    margin-top: 20px;
  }
}

.block-5 {
  margin-top: 93px;
  padding-left: 53px;

  & .drop-down {
    width: 320px;
  }
}

.block-6 {
  margin-top: 93px;

  & .drop-down {
    width: 320px;
  }
}

.block-7 {
  justify-self: left;
  margin-top: 56px;
}

.block-8 {
  width: 100%;
  margin-top: 45px;
}

.block-9 {
  margin-top: 57px;
  justify-self: left;
  padding-right: 60px;
}

.block-10 {
  justify-self: left;
  margin-top: 44px;
}

.block-11 {
  grid-column: span 2;
  margin-top: 74px;
  padding-right: 3px;
}
