include ../text-field/text-field
include ../rate/rate
include ../checkBtn/checkBtn
include ../radioBtn/radioBtn
include ../toggleBtn/toggleBtn

mixin form-elements
  +text-field('text')(placeholder="hello")
  +rate(4, true)
  +checkBtn('name', 'value', 'Можно курить', true)
  +radioBtn('sex', 'male', 'Мужчина', true)
  +radioBtn('sex', 'female', 'Женщина', false)
  +toggleBtn('name', 'on', 'Получать спецпредложения', true)
  +toggleBtn('name', 'off', 'Получать спецпредложения', false)
