include ../text-field/text-field.pug
include ../rate/rate.pug
include ../checkBtn/checkBtn.pug
include ../radioBtn/radioBtn.pug
include ../toggleBtn/toggleBtn.pug
include ../btnPurple/btnPurple.pug
include ../btnClear/btnClear.pug
include ../dblSlider/dblSlider.pug

mixin form-elements
  +text-field('text')(placeholder="hello")
  +rate(4, true)
  +checkBtn('name', 'value', 'Можно курить', true)
  +radioBtn('sex', 'male', 'Мужчина', true)
  +radioBtn('sex', 'female', 'Женщина', false)
  +toggleBtn('name', 'on', 'Получать спецпредложения', true)
  +toggleBtn('name', 'off', 'Получать спецпредложения', false)
  +btnPurple('Перейти к оплате')(style="width: 320px; margin-top: 10px;" )
  +btnClear('Click me')(style="width: 99px; margin-top: 10px")
  +dblSlider()(style="width: 266px;")
