include ../text-field/text-field.pug
include ../rate/rate.pug
include ../checkBtn/checkBtn.pug
include ../radioBtn/radioBtn.pug
include ../toggleBtn/toggleBtn.pug
include ../dblSlider/dblSlider.pug
include ../btn/btn.pug

mixin form-elements

  +text-field({type: 'text', placeholder: 'Email', label: 'subscription text field', date: false, arrow: true})(style="width: 266px; margin: 10px;")
  +rate(4, true)
  +checkBtn()
  +radioBtn({name: 'sex', value: 'male', label: 'Мужчина', checked: true})
  +radioBtn({name: 'sex', value: 'female', label: 'Женщина', checked: false})
  +toggleBtn({name: 'name', value: 'on', label: 'Получать спецпредложения', checked: true})
  +toggleBtn({name: 'name', value: 'off', label: 'Получать спецпредложения'})

  +btn({preset: 'clear'})(style="width: 99px; margin: 10px;")
  +btn({preset: 'clear', active: true})(style="width: 99px; margin: 10px;")
  +btn({preset: 'purple'})(style="width: 99px; margin: 10px;")
  +btn({preset: 'purple', active: true})(style="width: 99px; margin: 10px;")
  +btn({preset: 'arrow'})(style="width: 320px; margin: 10px;")

  +dblSlider({preset: 'default'})(style="width: 266px")
