include ../text-field/text-field.pug
include ../rate/rate.pug
include ../checkBtn/checkBtn.pug
include ../radioBtn/radioBtn.pug
include ../toggleBtn/toggleBtn.pug
include ../dblSlider/dblSlider.pug
include ../btn/btn.pug
include ../dropDown/dropDown.pug
include ../checkboxList/checkboxList.pug
include ../checkboxRich/checkboxRich.pug
include ../bulletList/bulletList.pug
include ../likeBtn/likeBtn.pug
include ../pagination/pagination.pug
include ../features/features.pug

mixin form-elements

  +text-field({preset: 'text'})(style="width: 320px; margin: 10px;")
  +text-field({preset: 'text-hover'})(style="width: 320px; margin: 10px;")
  +text-field({preset: 'text-drop'})(style="width: 320px; margin: 10px;")
  +text-field({preset: 'date'})(style="width: 320px; margin: 10px;")
  +text-field({preset: 'text-arrow'})
  +text-field({preset: 'date-drop'})
  +text-field({preset: 'date-filter'})

  +rate()
  +checkBtn()

  +radioBtn({preset: 'male'})
  +radioBtn({preset: 'female'})

  +toggleBtn({name: 'name', value: 'on', label: 'Получать спецпредложения', checked: true})
  +toggleBtn({name: 'name', value: 'off', label: 'Получать спецпредложения'})

  +btn({preset: 'clear'})(style="width: 99px; margin: 10px;")
  +btn({preset: 'clear', active: true})(style="width: 99px; margin: 10px;")
  +btn({preset: 'purple'})(style="width: 99px; margin: 10px;")
  +btn({preset: 'purple', active: true})(style="width: 99px; margin: 10px;")
  +btn({preset: 'arrow'})(style="width: 320px; margin: 10px;")

  +dblSlider({preset: 'default'})(style="width: 266px")

  +drop-down({span: 'default', placeholder: '2 спальни, 2 кровати...',})(style="width: 266px")

  +checkboxList({
    items: [
      { label: 'Завтрак', checked: false },
      { label: 'Письменный стол', checked: true },
      { label: 'Стул для кормления', checked: true },
      { label: 'Кроватка', checked: true},
      { label: 'Телевизор', checked: false},
      { label: 'Шампунь', checked: false}
    ],
    expand: 'on'
  })

  +checkboxList({
    title: 'Checkbox Buttons',
    items: [
      {label: 'Можно курить', checked: false},
      {label: 'Можно с питомцами', checked: true},
      {label: 'Можно пригласить гостей (до 10 человек)', checked: true}
    ],
  })(style="width: 225px;")

  +checkboxRich({
    title: 'rich checkbox buttons',
    items: [
            {
              label: 'Широкий коридор',
              checked: false,
              text: 'Ширина коридоров в номере не менее 91 см.',
              name: 'newnew',
              text_style: 'width: 230px;'
            },
            {
              label: 'Помощник для инвалидов',
              checked: true,
              text: 'На 1 этаже вас встретит специалист  и проводит до номера.',
              text_style: 'width: 255px;'
            }
          ]
  })(style="width: 266px")

  +bulletList({
    title: 'bullet list',
    items: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']
  })(style="width: 260px")

  +likeBtn({disable: true, count: 2})
  +likeBtn({count: 12})

  +pagination()

  +features([
    { title: 'Комфорт', text: 'Шумопоглощающие стены', img: 'insert_emoticon' },
    { title: 'Удобство', text: 'Окно в каждой из спален', img: 'location_city' }
  ])
