
.color, .font-style {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 67px;
  margin-bottom: 115px;
}
.color {

  &__item {
    display: flex;
    align-items: center;
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__block {
    width: 70px;
    height: 70px;
    border-radius: 6px;

    &--dark {
      background-color: $main-color;
    }

    &--dark75 {
      background-color: rgba($main-color, 0.75);
    }

    &--dark50 {
      background-color: rgba($main-color, 0.5);
    }

    &--dark25 {
      background-color: rgba($main-color, 0.25);
    }

    &--dark5 {
      background-color: rgba($main-color, 0.05);
    }

    &--purple {
      background-color: $purple;
    }

    &--green {
      background-color: $green;
    }
  }

  &__text {
    font-size: 1.188rem;
    margin-left: 40px;
    font-weight: 700;
    color: $main-color;
    line-height: 27.79px;
  }

  &__code {
    display: block;
    font-weight: 400;
  }
}

.font-style {
 width: 440px;

 &__item {
   display: flex;
   margin-top: 50px;

   &:first-child {
     margin-top: 0;
   }

   &--h1 {
     @include h1-font();
     line-height: 29.26px;
   }

   &--h2 {
     @include h2-font();
     line-height: 23.16px;
     margin-top: 53px;
   }

   &--h3 {
     @include h3-font();
     line-height: 14.63px;
     margin-top: 52px;
   }

   &--body {
     @include body-font();
     line-height: 24px;
     margin-top: 48px;
     width: 380px;
   }
 }

 &__title {
   flex-basis: 40px;
   flex-shrink: 0;
   color: rgba($main-color, 0.25);
   font-weight: 400;
   text-align: right;
 }

 &__text {
   margin-left: 30px;

   &--uppercase {
     text-transform: uppercase;
   }
 }
}
