include ../text-field/text-field.pug
include ../dropDown/dropDown.pug
include ../btn/btn.pug
include ../calendar/calendar.pug

mixin searchRoom(attr={})
  form.searchRoom&attributes(attributes)
    span.searchRoom__title Найдём номера под ваши пожелания
    +text-field({
      label: 'прибытие',
      date: true,
      expand: true
    })(class="searchRoom__check-in")
    +text-field({
      label: 'выезд',
      date: true,
      expand: true
    })(class="searchRoom__check-out")
    +calendar()(class="searchRoom__calendar")
    +drop-down('searchRoom__drop-down')(class="searchRoom__drop-down")
    +btn({
      arrow: true,
      color: 'purple',
      text: 'Подобрать номер',
      link: attr.link || 'about.html'
    })(class='searchRoom__btn')
