@import '@assets/scss/global.scss';
@import '@assets/scss/mixins.scss';

.searchRoom {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 380px;
  height: 374px;
  padding: 40px 30px 30px 30px;
  background-color: #fff;

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__calendar {
    position: absolute;
    opacity: 0;
    top: 189px;
    // left: 30px;
    left: calc((100% - 320px) / 2);
    z-index: -10;
    transition: opacity 0.3s ease;

    &--show {
      opacity: 1;
      z-index: 10;
    }
  }

  &__title {
    @include h1-font;
    line-height: 29.26px;
    margin-bottom: 11px;
  }

  &__check-in,
  &__check-out {
    width: 47%;
    height: 65px;

    & input {
      color: rgba($main-color, 0.75);
    }
  }

  &__drop-down {
    margin-top: 8px;
    width: 100%;
    margin-bottom: 8px;

    & input {
      color: rgba($main-color, 0.75);
    }
  }

  &__btn {
    align-self: flex-end;
  }
}
