@import 'mm-jsr/dist/assets/css/main.css';

.dblSlider {
  position: relative;
  &__label {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .jsr {
    margin: 0;

    &_label {
      cursor: auto;

      &--minmax {
      display: none;
    }
    }
  }
}
