@import '@assets/scss/fonts.scss';
@import '@assets/scss/global.scss';
@import '@assets/scss/mixins.scss';

@import '@blocks/searchRoom/searchRoom.scss';
@import '@blocks/mainNav/mainNav.scss';
@import '@blocks/footer/footer.scss';

.main {
  max-width: 1920px;
  min-width: 320px;
  height: 761px;
  background: url('@blocks/index/bg-image.jpg') no-repeat center bottom 3px;
  background-size: cover;
  margin: auto;
  padding-top: 70px;
  padding-left: 140px;

  &__search-form {

  }
}
