include ../slider/slider.pug
include ../rate/rate.pug

mixin room(attr={})
  -
    let opt = {
      sliderImg: attr.sliderImg,
      sliderId: attr.sliderId,
      sliderLink: attr.sliderLink,
      title: attr.title,
      lux: attr.lux,
      cost: attr.cost,
      rateId: attr.rateId,
      rateStar: attr.rateStar,
      review: attr.review
    }
  .room
    +slider({
      id: opt.sliderId,
      img: opt.sliderImg || ['image-1.jpg', 'image-1.jpg', 'image-1.jpg', 'image-1.jpg'],
      link: opt.sliderLink || '#'
    })
    .room__info
      span.room__title.room__title--small &#8470
      span.room__title!=opt.title ? opt.title : '000'
      if opt.lux
        span.room__lux люкс
      span.room__cost!=opt.cost ? `${opt.cost}₽` : '9999 ₽'
      | в сутки
    .room__review
      +rate(opt.rateId, opt.rateStar)(class="room__rate")
      span.room__review-count=opt.review ? opt.review : '0'
      | Отзывов
