.btnPurple {
  height: 44px;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  width: 100%;
  border: none;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  color: #fff;
  outline: none;
  text-transform: uppercase;

  &--arrow {
    background-image: url('@blocks/btnPurple/arrow_forward.svg'),linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-repeat: no-repeat;
    background-position: right 12px center, 0 0;
  }

  &:active {
    opacity: 0.5;
  }
}
