@import '@assets/scss/fonts.scss';
@import '@assets/scss/global.scss';
@import '@assets/scss/mixins.scss';

@import '@blocks/colors-type/colors-type.scss';
@import '@blocks/form-elements/form-elements.scss';
@import '@blocks/cards/cards.scss';
@import '@blocks/headers-footers/headers-footers.scss';

.container {
  max-width: 1440px;
  // padding: 30px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background-color: #fff;

  &--grey {
    background-color: #e5e5e5;
  }
}

.content {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;

  &--active {
    display: flex;
  }

  &--colors-type {
    padding-top: 78px;
    padding-bottom: 0;
    padding-left: 150px;
    padding-right: 157px;
  }

  &--form-elements {
    box-sizing: border-box;
    padding-top: 144px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 0;
  }

  &--cards {
    padding-top: 150px;
    padding-left: 140px;
    padding-right: 100px;
    padding-bottom: 0;
  }

  &--headers-footers {
    // padding-top: 100px;
  }
}

.nav {
  position: absolute;
  top: 80px;
  left: -10px;
  z-index: 1;

  &__list {
    display: flex;
    list-style: none;
    transform-origin: bottom left;
    transform: rotate(90deg);
    padding: 0;
    margin: 0;
  }

  &__item {
    position: relative;
    top: 0;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-right: 5px;
    width: 85px;
    height: 50px;
    color: rgba($main-color, 0.25);
    background-color: rgba($main-color, 0.05);
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: top ease 0.2s;

    &:hover {
      background-color: rgba($main-color, 0.25);
      color: rgba($main-color, 1);
    }

    &:active {
      top: 5px;
    }

    &--active {
      top: -10px;
      color: rgba($main-color, 0.5);
    }
  }
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 0;

  &__img {
    width: 48px;
    height: 48px;
  }
}
