@import '@blocks/text-field/text-field.scss';
@import '@blocks/colors-type/colors-type.scss';

main {
  background-color: #e5e5e5;
}

.container {
  width: 1440px;
  padding: 30px;
  margin: 0 auto;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.content {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;

  &--active {
    display: flex;
  }

  &--colors-type {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 120px;
    padding-right: 127px;
  }

  &--form-elements {
    padding-top: 62px;
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 0;
  }
}

.nav {
  position: absolute;
  top: 80px;
  left: -10px;
  z-index: 1;

  &__list {
    display: flex;
    list-style: none;
    transform-origin: bottom left;
    transform: rotate(90deg);
    padding: 0;
    margin: 0;
  }

  &__item {
    position: relative;
    top: 0;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-right: 5px;
    width: 85px;
    height: 50px;
    color: rgba($main-color, 0.25);
    background-color: rgba($main-color, 0.05);
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: top ease 0.2s;

    &:hover {
      background-color: rgba($main-color, 0.25);
      color: rgba($main-color, 1);
    }

    &:active {
      top: 5px;
    }

    &--active {
      top: -10px;
      color: rgba($main-color, 0.5);
    }
  }
}

.logo {
  font-size: 0;

  &__img {
    width: 48px;
    height: 48px;
  }
}
