mixin likeBtn(attr={})
  -
    let opt = {
      disable: attr.disable || false,
      count: attr.count || 10
    }

  button.likeBtn(
    class=opt.disable ? 'likeBtn--disable' : ''
  )&attributes(attributes)
    span.likeBtn__count=opt.count
