@import '@assets/scss/global.scss';

.features {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    display: flex;
    height: 89px;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-bottom: 1px solid rgba($main-color, 0.1);
    background-size: 48px 48px;
    padding-left: 58px;
    font-size: 0.875rem;
    color: rgba($main-color, 0.75);
    line-height: 24px;

    @each $bgImg in insert_emoticon, location_city, whatshot {
      &--#{$bgImg} {
        background: url('@blocks/features/#{$bgImg}.svg') no-repeat;
        background-position: left 5px center;
      }
    }
  }

  &__title {
    font-weight: 700;
    width: 100%;
    align-self: flex-end;
  }

  &__text {
    font-weight: 400;
    margin: 0;
    align-self: flex-start;
  }
}
